# ciweb -- SWI-Prolog Continuous integration web server

[Unit]
Description=CI web server
After=redis.service

[Service]
UMask=022
Environment=LANG=en_US.utf8
Restart=on-failure
StartLimitInterval=60
StartLimitBurst=5
WorkingDirectory=/home/jan/src/docker/docker-swipl-linux-ci
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/home/jan/bin/swipl share/web_server.pl --port=4040 --user=www-data --no-fork

[Install]
WantedBy=multi-user.target
